In [1]:
import pandas as pd
import numpy as np

In [7]:
file_dir = "../AroundSTRs/Gymrek_GenotypesAroundSTRs/"

In [11]:
header = np.genfromtxt(file_dir + "Header.txt", dtype=str, delimiter="\t")

(2513,)

In [14]:
STR = "CSF1PO"
CSF1PO = pd.read_csv(file_dir + STR + "_100kb_SNPVariants.vcf", names=header, delimiter="\t")
CSF1PO.head()

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG00096,...,NA21128,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144
0,5,149355890,rs151108572,A,G,.,PASS,AR2=1.00;DR2=1.00;AF=0.0044,GT:DS,0|0:0,...,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0
1,5,149355953,rs371565044,A,G,.,PASS,AR2=1.00;DR2=1.00;AF=0.00020,GT:DS,0|0:0,...,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0
2,5,149356003,rs141357640,A,G,.,PASS,AR2=1.00;DR2=1.00;AF=0.0044,GT:DS,0|0:0,...,0|0:0,1|0:1,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0
3,5,149356486,rs3756307,G,A,.,PASS,AR2=1.00;DR2=1.00;AF=0.13,GT:DS,0|0:0,...,0|0:0,0|0:0,1|0:1,0|0:0,0|0:0,0|0:0,0|1:1,0|1:1,0|0:0,0|0:0
4,5,149356547,rs150412774,A,G,.,PASS,AR2=1.00;DR2=1.00;AF=0.011,GT:DS,0|0:0,...,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0,0|0:0

In [ ]:
pop_info = pd.read_csv("../1000Genomes_samples.tsv", sep="\t")
pop_info.head()

In [26]:
# Subset CEU
FIN = pop_info.loc[pop_info["Population code"] == "CEU"]
samples_FIN = FIN["Sample name"].to_numpy()
samples_FIN.shape
# FIN_df = CSF1PO[[samples_FIN]]
# FIN_df

(184,)